<main class="mt-5">
    <div class="container">
        <div class="card mx-auto"style="width: 600px;">
            <div class="card-header">
            <img src="/img/logo.jpg" alt="logo" class="card-img-top mx-auto m-2 rounded-circle" style="width: 150px; heigth: 150px; display:block;">
            <h3 class="text-uppercasse text-center p-4"> CRUD NODE JS Y MYSQL</h3>

            </div>
            <div class="card-body text-center">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil iure suscipit repellat repudiandae et corrupti tempora voluptates ex dignissimos doloribus unde perspiciatis quam numquam mollitia similique dicta maiores, eveniet reprehenderit!</p>
            <a href="/addMessage" class="btn btn-primary">crear un mensaje </a>


            </div>

        </div>
    </div>
</main>